<% @articles.each do |article| %>
  <hr>
  <section class='article-list'>
    <div class='article-list-header'><%= article.title %></div>
    <div class='article-list-body'><%= article.content %></div>
    <!-- <%= link_to 'Edit', edit_article_path(article) %> -->
    <!-- <%= link_to 'Destroy', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure?' } %> -->
  </section>
<% end %>
