<% comments.each do | comment | %>
  <div class="comment-wrapper">
    <div class="comment-header">
      <% user = User.find(comment.user_id) %>
      <div>
        <%= user.firstname + ' ' + user.lastname %>
      </div>
      <div><span>created at: </span><%= comment.created_at %></div>
    </div>
    <div class="comment-body"><%= comment.body %></div>
    <%= render partial: 'list_comments', locals: { comments: comment.replies } %>
  </div>
<% end %>
