<% provide(:title, 'home') %>

<%= render 'menu_button' %>

<%= render 'search_bar' %>

<main class='article-main'>

  <%= render 'article_creation' %>
  <hr>
  <a href='/allfeed'>All Feed</a>
  <a href='/personelfeed'>Personel Feed</a>
  <a href='/myfeed'>My Feed</a>
  <%= render 'list_articles' %>

</main>
