@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

.article-main {
  width: 50%;
  margin: 20px auto;
  background-color: #b3b3b3;
  padding: 5px 10px;
  .article-creation {
    div {
      display: flex;
      justify-content: flex-end;
    }
    input, textarea {
      width: 100%;
      display: block;
      padding: 5px;
      margin: 5px auto;
      border: 1px solid black;
    }
    input[type="submit"] {
      width: 120px;
      display: block;
      padding: 1px;
      margin: 0 0 0 8px;
    }
  }
}
hr {
  margin: 5px auto;
  background-color: #fff;
}
.article-list {
  background-color: #d9d9d9;
  border: 1px solid black;
  padding: 3px 8px;
}
.article-list-header {
  background-color: #f2f2f2;
  display: inline-block;
  padding: 0 8px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 12px;
  margin-bottom: 3px;
}
.article-list-body {
  background-color: #f2f2f2;
  border-radius: 3px;
  border: 1px solid black;
  padding: 4px 8px;
}
.account-wrapper {
  position: absolute;
  right: 10px;
  top: 20px;
}
.account-wrapper {
  cursor: pointer;
}
.logout-link > div {
  padding: 2px 10px;
}
.logout-link {
  display: none;
  background-color: #000;
  border-radius: 0px 0px 6px 6px;
}
.logout-link hr {
  width: 90%;
  color: #000;
}
.account-icon {
  display: inline-block;
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
}
.search-container {
  border: 1px solid black;
  display: inline-block;
  top: 20px;
  left: 20px;
  position: absolute;
}
.search-icon {
  display: inline-block;
  padding: 6px 10px;
  background: #ddd;
  font-size: 17px;
  border: none;
}
.search-container input[type=text] {
  padding: 3px;
  font-size: 17px;
  border: none;
}
.search-results div {
  background-color: #b3b3b3;
  padding: 3px 5px;
  cursor: pointer;
}
.search-results hr {
  width: 95%;
  margin: 0;
}
.search-results {
  display: none;
}
