@import 'bootstrap';
@import "font-awesome-sprockets";
@import "font-awesome";

.article-main {
  width: 500px;
  margin: 20px auto;
  padding: 5px 10px;
  .article-creation {
    background-color: #fff;
    padding: 8px 8px;
    .public-or-private {
      display: flex;
      justify-content: space-around;
    }
    .article-creation-footer {
      display: flex;
      justify-content: space-between;
    }
    input, textarea {
      width: 100%;
      display: block;
      padding: 5px;
      margin: 5px auto;
      border: 1px solid #365899;
    }
    input[type="submit"] {
      width: 120px;
      cursor: pointer;
      display: block;
      padding: 1px;
      margin: 0 0 0 8px;
      border: 1px solid #365899;
    }
  }
}
.save-for-later:hover {
  background-color: #e6e6e6;
}
.save-for-later {
  padding: 0px 10px;
  border: 1px solid #365899;
  cursor: pointer;
}
.navbar-ul-li li img {
  max-height: 25px;
  max-width: 25px;
  border-radius: 12.5px;
}
.navbar-ul-li li a {
  border-right: 1px solid #294170;
  padding: 0 0 !important;
}
.likes-comments-counter {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: rgb(96, 103, 112);
}
.website-name {
  padding: 0px 10px 0 5px !important;
  background-color: #294170;
  color: #fff !important;
  border-radius: 5px;
}
.comment-form-wrapper input {
  padding-left: 13px;
  border-radius: 10px;
  border: 1px solid #294170;
}
.navbar-ul-li li:last-child a {
  border-right: none;
}
.navbar-ul-li li {
  padding: 0;
}
.navbar-ul-li li a div:hover {
  background-color: #294170;
  border-radius: 3px;
}
.navbar-ul-li li a div {
  color: #fff !important;
  padding: 0 15px !important;
}
.article-list-creator {
  display: flex;
  justify-content: space-between;
}
.image-creator-wrapper {
  display: flex;
  justify-content: space-around;
}
.image-wrapper img, .comment-image img {
  max-height: 40px;
  border-radius: 20px;
  max-width: 40px;
}
.user-avatar-in-profile {
  position: relative;
}
.user-avatar-in-profile img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50px;
  position: absolute;
  top: -50px;
  left: 5px;
}
.user-profile-name {
  text-align: center;
}
.profile-name {
  color: rgb(20, 23, 26);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.profile-email {
  color: rgb(101, 119, 134);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
}
.image-wrapper, .comment-image {
  max-height: 40px;
  max-width: 40px;
  border-radius: 20px;
  margin-right: 5px;
}
#article_ispublic:hover {
  background-color: #fff;
}
#article_ispublic {
  padding: 0px 6px;
  border: 1px solid #365899;
  cursor: pointer;
}
.creation-time {
  font-size: 12px;
  font-weight: 400;
  color: rgb(97, 103, 112);
  font-family: "Helvetica", Arial, sans-serif;
}
.article-owner {
  color: #365899;
  font-family: "Helvetica", Arial, sans-serif;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  text-decoration-color: rgb(54, 88, 153);
}
.cancel-save-wrapper {
  display: flex;
  justify-content: flex-end;
}
.comment-new {
  width: 100%;
  padding: 5px;
  margin: 8px 0 5px;
}
.cancel-save-wrapper * {
  padding: 0 20px;
  margin-left: 20px;
}
hr {
  margin: 5px auto;
  background-color: rgba(0, 0, 0, 0.1);;
}
.article-list {
  padding: 8px 8px 3px;
  position: relative;
  background-color: #fff;
  margin-bottom: 8px;
  border-radius: 5px;
}
.article-list-header {
  text-decoration: underline;
  font-size: 14px;
  font-family: "Helvetica", Arial, sans-serif;
  color: rgb(29, 33, 41);
  font-weight: 400;
}
.article-list-body {
  font-size: 16px;
}
.account-wrapper {
  position: absolute;
  right: 10px;
  top: 100px;
}
.account-wrapper {
  cursor: pointer;
}
.logout-link > div {
  padding: 2px 10px;
}
.logout-link {
  display: none;
  background-color: #000;
  border-radius: 0px 0px 6px 6px;
}
.logout-link hr {
  width: 90%;
  color: #000;
}
.account-icon {
  display: inline-block;
  padding: 5px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  margin-bottom: 5px;
}
.search-container {
}
.search-icon {
  display: inline-block;
  padding: 3px 8px;
  background: #ddd;
  font-size: 17px;
  border: none;
}
.search-container input[type=text] {
  padding: 3px 0 3px 12px;
  font-size: 17px;
  border: none;
  width: 400px;
}
.search-results div {
  padding: 5px 5px;
}
.search-results hr {
  width: 95%;
  margin: 0;
}
.feed-menu a:hover {
  background-color: #4267b2;
}
.custom-navbar {
  padding: 5px 16px;
}
.navbar-ul-li {
  margin-left: 20%;
}
.search-results hr:first-child {
  background-color: #fff;
}
.search-results {
  background-color: #fff;
  cursor: pointer;
  padding-left: 8px;
  font-size: 14px;
  color: #1d2129;
  width: 400px;
  display: none;
  position: absolute;
  top: 39px;
}
.article-tag-list li {
  display: inline;
}
.article-tag-list {
  list-style-type: none;
}
.feed-options {
  display: flex;
  justify-content: space-around;
}
.feed-options > div {
  border-radius: 3px;
  border: 1px solid black;
  padding: 0 10px;
  background-color: #f2f2f2;
}
.article-list a {
  color: #365899;
}
.comment-list > div {
}
.comment-footer {
  color: rgb(144, 148, 156);
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-left: 55px;
}
.comment-only-wrapper {
  font-size: 13px;
  font-family: "Helvetica", Arial, sans-serif;
  background-color: rgb(239, 241, 243);
  border-radius: 20px;
  padding: 8px 10px;
  margin-right: 30px;
  position: relative;
}
.comment-likes-count i {
  color: #337aff;
}
.comment-likes-count {
  position: absolute;
  right: -25px;
  bottom: 0px;
  color: #777d88;
  font-size: 11px;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #337aff;
  padding: 0 5px 0 3px;
}
.commenter-name {
  color: rgb(54, 88, 153);
  font-weight: 600;
  text-decoration: none;
  text-decoration-color: rgb(54, 88, 153);
}
.comment-body {
  color: #1d2129;
}
.comment-header {
  display: flex;
  justify-content: space-between;
}
.image-comment-wrapper {
  display: flex;
  justify-content: space-between;
}
.comment-wrapper-padding {
  margin-left: 50px;
}
.comment-box:hover, .like-box:hover {
  text-decoration: underline;
}
.show-drafted:hover {
  background-color: #294170;
  cursor: pointer;
  border-radius: 3px;
}
.show-drafted {
  padding: 0 15px;
}
.comment-box, .like-box {
  cursor: pointer;
  color: rgb(54, 88, 153);
}
.article-comment i, .article-like i {
  font-size: 15px;
  margin-right: 5px;
  font-weight: 600;
}
.article-like:hover, .article-comment:hover {
  background-color: #f2f2f2;
}
.article-like, .article-comment {
  color: rgb(97, 103, 112);
  align-items: center;
  cursor: pointer;
  width: 50%;
  padding: 4px 0;
  margin-bottom: 2px;
  text-align: center;
  font-family: "Helvetica", Arial, sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-decoration: none;
}
.delete-button-for-admin:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.delete-button-for-admin {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 5px 10px;
  border-radius: 30px;
}
.article-list > hr {
  background-color: rgba(0, 0, 0, 0.1);
}
.article-list-footer {
  display: flex;
  justify-content: space-around;
}
.dropdown-toggle::after {
    display:none;
}
.user-profile-footer > div > div:last-child {
  color: rgb(135, 127, 99);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
}
.user-profile-footer > div > div:first-child {
  color: rgb(101, 119, 134);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
}
.user-profile-footer {
  padding: 10px 50px;
}
.user-profile {
  position: absolute;
  background-color: #fff;
  top: 67px;
  left: 20px;
}
.user-profile-footer {
  display: flex;
  justify-content: space-between;
}
