.show-user {
  width: 50%;
  margin: 20px auto;
  background-color: #b3b3b3;
  padding: 10px 10px;
  header > div:first-child {
    display: flex;
    justify-content: space-between;
  }
}
.show-user-name {
  color: rgb(20, 23, 26);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
}
.show-user-email {
  color: rgb(101, 119, 134);
  direction: ltr;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
.show-user-follow, .show-user-block {
  background-color: #d9d9d9;
  border: 1px solid black;
  display: inline-block;
  padding: 0 10px;
  border-radius: 1px;
  cursor: pointer;
}
.show-user-follow:hover, .show-user-block:hover {
  background-color: #f2f2f2;
}
.show-user-follower-followyee {
  display: flex;
  justify-content: flex-start;
  margin-top: 5px;
  cursor: pointer;
}
.show-user-follower-followyee div {
  background-color: #d9d9d9;
  font-size: 12px;
  padding: 3px 8px;
  border-radius: 5px;
}
.show-user-follower-followyee > div div {
  text-align: center;
  padding: 0;
}
.show-user-follower-followyee > div:first-child {
  margin-right: 10px;
}
